#top-heading {
          text-align:center;
          font-family: 'Tangerine', cursive;
          font-size:10vh;
          font-weight:600;
          margin-top: 60px;
        }
        #menu_catering
        {
            background-image: url(pics/catering-btn.png);
            background-size: contain;
            height:49vh;
            width: 51vh;
            background-repeat: no-repeat;
        }
        #menu_lunch
        {
            background-image: url(pics/lunch-btn.png);
            background-size: contain;
            height:49vh;
            width: 51vh;
            background-repeat: no-repeat;
        }
        #menu_dinner
        {
            background-image: url(pics/dinner-btn.png);
            background-size: contain;
            height:49vh;
            width: 50vh;
            background-repeat: no-repeat;
        }
        .menu
        {
            height: 90%;
            width: 90%;
            border: 0px;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 0.4s;
            font-family: 'Dancing Script', cursive;
            font-size: 5vh;
        }
        .menu:hover
        {
            position: absolute;
            transform: scale(1.2);
        }
        .menu_div
        {
            background-color: white;
            width: 100%;
            height: 30%;
            margin-top: 35%;
            text-align: center;
            border-radius: 50%;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            transition: all 01s;
        }
        .menu_div:hover
        {
            opacity: .5;
        }
        a
        {
            color:goldenrod;
        }
        a:hover
        {
            text-decoration: none;
            color:goldenrod;
        }
        .icon {
          margin: 10px;
        }
        .shadow-box {
          box-shadow: 15px 15px 15px gray;
        }
        #logo {
          height: 50px;
          width: 200px;
          margin: -15px 0px 0px;
        }
        .navbar-brand {
          padding-left: 0px;
          padding-right: 0px;
          margin-top: 10px;
        }
        #myFooter {
          margin-top: 50px;
        }
